*{--color-black: #ddd;
--color-blue-dark: #65849a;
--color-mustard-light: #ddd;
--color-mustard-extra-light: #ffffff;
--color-mustard-midtone: #9c7830;
}
.summary_invoice{
   
   
}

.total-container{
    border-top: 2px dotted #ddd;
    border-bottom: 2px dotted #ddd;
    padding: 10px 0;
    margin: 10px 0;
}
#total {
    
    background: none;
    position: absolute;
    text-align: right;
}
.summaryInput {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    border: none;
}

.summary_invoice ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}
.summary_invoice li {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.summary_invoice a {
    color: #ff7b79;
    text-decoration: none;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    outline: none;
}

#orderSumList li i {
    color: #ffde7d;
    padding: 0 10px;
}
#orderSumList li i:hover {
    color: #686354;
    padding: 0 10px;
}

#orderSumList  li span.price, .price {
    float: right;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa, .fas {
    font-weight: 1500;
}

button {
    position: relative;

    height: 64%;

    margin-top: 32px;
    padding: 12px 16px;

    background-color: var(--color-mustard-extra-light);

    border: 1px solid var(--color-mustard-light);
    border-radius: none;

    transition: all 0.1s ease-out;

    cursor: pointer;

    -webkit-appearance: none;

    -webkit-transform: scale(1);
    transform: scale(1);
}

button {
    margin: 0;

    color: var(--color-black);
}

button:active,
button:focus {
    outline: none;
}

button::after {
    content: "";

    position: absolute;

    opacity: 1;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: inherit;

    background-position: center;
    background-repeat: no-repeat;
}

button:disabled {
    pointer-events: none;
}

button:disabled::after {
    opacity: 0.25;
}

.button-decrement::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-increment::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7V17' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-decrement {
    border-right: none;
}

.button-increment {
    border-left: none;
}

@media (hover: hover) {
    input[type="number"]:hover,
    button:hover {
        background-color: white;
    }

    button:active {
        background-color: var(--color-mustard-extra-light);
        transform: translateY(1px);
    }
}

@media (hover: none) {
    button:active {
        background-color: white;
        transform: translateY(1px);
    }
}


.number-input-container {
    width: 100%;

    display: grid;
    grid-template-columns: 48px auto 48px;
}


.number-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*background-color: var(--color-mustard-extra-light);*/
    overflow: hidden;
}

input[type="number"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    width: 100%;
    min-width: 100%;
   

    background-color: var(--color-mustard-extra-light);

    border: 1px solid var(--color-mustard-light);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-radius: none;

    font-size: 16px;
    line-height: 24px;
    text-align: center;

    transition: all 0.2s ease-out;
}

input[type="number"]:focus {
    background-color: white;

    border: 1px solid var(--color-mustard-midtone);

    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.panel-collapse {
    max-height: 500px;
    overflow: hidden;
    transition: max-height .5s ease;
  }
  .panel-close {
    max-height: 0;
  }

  .rot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    cursor: pointer;
    transform: rotate(180deg);
  }
  .rot:hover{
    transform: rotate(0);
  }
  .shift {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    cursor: pointer;
  }
  .shift:hover {
  transform: scale(1.02);
  transform: rotate(180deg);
  
  }


  a.disabled {
    opacity: 0.5;
    color:#bebebe;
    pointer-events: none;
    cursor: default;
  }

  .envoyer:hover{
    background-color: #8ea8b3;

  }

  @media only screen and (max-width: 767px){
    aside{
        display: none;
    }
  }